<div class="container-fluid">

  <div >
    <h3>POSTS</h3>
    <hr>
    <% @posts.each do |post| %>
      <div class="post_title">
        <h2><%= post.title %></h2>
        <h6><i class="bi bi-clock"></i> Post by <%= post.author.full_name %>  </h6>
      </div>
      <div class="post_content">
        <p><%= post.content %></p>
        <%= image_tag post.image %>
      </div>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>
    <% end %>
    <br><br>
    <%= link_to 'New Post', new_post_path %>
  </div>
</div>