<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @post.author.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <%= image_tag @post.image,class: "img-blog", alt: "Img block" %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
