<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @post.author.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<figure>
  <%= image_tag "main.jpg", class: "img-blog", alt: "Img block" %>
</figure>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
